.specifications {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background: #fff;
  padding: 32px 16px;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  input[type=radio] {
    display: none;
    &:checked + label {
      background: #fff;
      color: #000;
      border-left: 1px solid #a0a0a0;
      border-top: 5px solid #fc4c02;
      border-right: 1px solid #a0a0a0;
      padding-top: 0;
    }
  }
  &-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 55px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
    padding: 2px 15px 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #a0a0a0;
    background: #f0f0f0;
    border-left: 1px solid #e2e6e7;
    border-top: 1px solid #e2e6e7;
    border-right: 1px solid #e2e6e7;
    &:hover {
      background: #fefefe;
      color: #fc4c02;
    }
    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
      background: #fff;
    }
  }
  &-content {
    display: none;
    width: 100%;
    min-height: 150px;
    background: #fff;
    padding: 25px 15px;
    border-top: 1px solid #e2e6e7;
    box-sizing: border-box;
    &__title {
      font-size: 13px;
      font-weight: bold;
      color: #000;
      line-height: 20px;
      text-transform: uppercase;
    }
    &__text {
      font-size: 15px;
      color: #000;
      line-height: 22px;
      margin: 0 0 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  //@each $tab in description, video {
  //  .#{$tab}:checked ~ .#{$tab} {
  //    display: flex;
  //    flex-direction: column;
  //  }
  //}
  input.information:checked ~ .information,
  input.reviews:checked ~ .reviews {
    display: flex;
    flex-direction: column;
  }

}
