.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  padding: 0 16px;
  margin: 0;
  list-style: none;
  & ul,
  & li {
    list-style: none;
  }
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 25px 0 20px;
    cursor: pointer;
    font-size: .85rem;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 4px solid #eaeaea;
    border-bottom: 4px solid #eaeaea;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid red;
      transform: translateY(-50%);
    }
    &:hover {
      background: #cacaca;
      border-bottom: 4px solid #cacaca;
      .navbar__sub {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__sub {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    padding: 0;
    background: #cacaca;
    width: 200px;
    &-item {
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 35px;
      font-size: .80rem;
      font-weight: normal;
      text-transform: none;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
